label {
    color:green;
}

input {
    border-radius: 25px;
}

select {
    border-radius: 25px;
}

textarea {
    border-radius: 20px;
}

button:hover {
    color: orange;
    background-color: green;
}
